{% extends "base.html" %}
{% block title %}Acalc Tool{% endblock %}
{% block ekengActive %}active{% endblock %}

{% block content %}
	<div div class="box">
		<h2 id = "name_filter">EK de engrenagem</h2>	
	</div>
	<form method="GET" action="result">
	<div class="box" id="content-box1">
		<table>
			<tr>
				<th>Tipo do dentado</th>
				<td><div class="radio">
						<input type="radio" id="radio_heli" name="radio1" value="HELICOIDAL" checked="checked"/><label for="radio_heli">Helicoidal</label>
						<input type="radio" id="radio_recto" name="radio1" value="RECTO"  /><label for="radio_recto">Recto</label>
				</div></td>
			</tr>				
			<tr>
				<th>&nbsp;</th>
				<td><div class="radio">
						<input type="radio" id="radio_esq" name="radio2" value="ESQUERDA" checked="checked" /><label for="radio_esq">Esquerda</label>
						<input type="radio" id="radio_dir" name="radio2" value="DIREITA"/><label for="radio_dir">Direita</label>
				</div></td>
			</tr>
			<tr>
				<th>Diâmetro Primitivo</th>
				<td><input type="text" name="eef" class = "required" value="{{ dp }}"/>
				<input type="checkbox" id="eef_auto" value="eef_auto"/><label for="eef_auto">Auto</label></td>
			</tr>	
			<tr>
				<th>Nº dentes do EK</th>
				<td><input type="text" name="dentes_ek1" class = "required" value="{{ dentes_ek1 }}"/>
				<input type="checkbox" id="dentes_ek1_auto" value="dentes_ek1"/><label for="dentes_ek1_auto">Auto</label></td>
			</tr>			
			<tr>
				<th>Ângulo da Hélice</th>
				<td><input type="text" name="beta" class = "required"  value="{{ beta }}"/></td>
			</tr>	
			<tr>
				<th>Ângulo de Pressão</th>
				<td><input type="text" name="alfa" class = "required"  value="{{ alfa }}"/></td>
			</tr>	
			<tr>
				<th>Módulo (mm)</th>
				<td><input type="text" name="modulo" class = "required"  value="{{ modulo }}"/></td>
			</tr>		
			<tr>
				<th>Número de dentes</th>
				<td><input type="text" name="n_dentes1" class = "required"  value="{{ n_dentes1 }}"/></td>
			</tr>	
			<tr>
				<th>Largura do dentado</th>
				<td><input type="text" name="largura" class = "required" value="{{ largura }}"/></td>
			</tr>				
		</table>	
	</div>

	<div class="box" id="content-box2">	
		<input type="submit" value="Calcular"></input>
	</div>
	</form>
	<br class="clearfix" />	

{% if carreto %}
	<div class="box">
	<div class="v_filter" style="display:none">
		<h4 id = "values_filter">{{ values }}</h4>
	</div>
	<table id="result-table" class="dataTable">
		<thead>	
			<tr>
				<th>Atributo</th>
				<th>CARRETO</th>
			</tr>
		</thead>
		<tbody>	
			<tr><td>Sentido do Dentado</td>	<td>{{ carreto['sentido'] }}</td>
			<tr><td><strong>EK</strong></td><td><strong>{{'%0.6f'	|	format( carreto['EK']) }}</strong></td>
			<tr><td>N. dentes EK</td>		<td>{{ carreto['dentes_ek1'] }}</td>
			<tr><td>Diâmetro Primitivo</td>	<td>{{'%0.6f'	|	format( dp ) }}</td>
			<tr><td>Diâmetro Exterior</td>	<td>{{'%0.6f'	|	format( carreto['de']) }}</td>
			<tr><td>Folga</td>				<td>{{'%0.6f'	|	format( carreto['erro']['folga']) }}</td>
			<tr><td>Tolerância</td>			<td>{{'%0.6f'	|	format( carreto['erro']['t']) }}</td>	
			<tr><td>Factor de Correção</td>	<td>{{'%0.6f'	|	format( carreto['erro']['fc']) }}</td>
			<tr><td>U.erro de Divisão</td>	<td>{{'%0.6f'	|	format( carreto['erro']['udiv']) }}</td>
			<tr><td>U.erro de Distorção</td><td>{{'%0.6f'	|	format( carreto['erro']['udist']) }}</td>
			<tr><td>U. Folga</td>			<td>{{'%0.6f'	|	format( carreto['erro']['uf']) }}</td>
			<tr><td>Erro de Distorção</td>	<td>{{'%0.6f'	|	format( carreto['erro']['edist']) }}</td>
		</tbody>
	</table>		
</div>	
{% endif %}
	
{% endblock %}
