{% extends "base.html" %}
{% block title %}Acalc Tool{% endblock %}
{% block overviewActive %}active{% endblock %}

{% block content %}
	<div class="box">
		<h2>Bem vindo à ferramenta de cálculo A.Calc</h2>
		<h4>Esta ferramenta tem como objectivo auxiliar os calculos necessários às seguintes funções:</h4>
		<div class="box" id="content-box1">
			<ul class="list">
				<li class="first">Rodas de muda</li>
				<li class="last">Cotas de verificação</li>
			</ul>
		</div>
	</div>
	<br class="clearfix" />		
{% endblock %}