{% extends "base.html" %}
{% block title %}Acalc Tool{% endblock %}
{% block heckertActive %}active{% endblock %}

{% block content %}
	<div div class="box">
		<h2 id = "name_filter">Heckert ZFWG 250</h2>	
	</div>
	<form method="GET" action="result">
	<div class="box" id="content-box1">
		<table>
			<tr>
				<th>Artigo</th>
				<td><input type="text" name="artigo" value="{{ artigo }}"></input></td>
			</tr>
			<tr>
				<th>Módulo Axial (mm)</th>
				<td><input type="text" name="modulo" class = "required" value="{{ modulo }}"></input>	</td>
			</tr>
			<tr>
				<th>Nº Entradas</th>
				<td><input type="text" name="entradas" class = "required" value="{{ entradas }}"></input></td>
			</tr>	
		</table>	
	</div>

	<div class="box" id="content-box2">	
		<input type="submit" value="Calcular"></input>
	</div>
	</form>
	<br class="clearfix" />	
	{% include 'rodas_result.html' %}
	
{% endblock %}
